<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="https://newsletter.mollywhite.net/">Whitespace</a>
    <a class="sidebar-nav-item" href="https://newsletter.mollywhite.net/subscribe">Subscribe and support</a>
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Issue index</a>
    <hr/>
    <a class="sidebar-nav-item" href="https://blog.mollywhite.net/">Blog</a>
    <a class="sidebar-nav-item" href="https://www.mollywhite.net">Website</a>
  </nav>
</div>
