---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* FONTS */
@font-face {
  font-family: "DecimaMonoDecimaMono";
  src: url('https://mollywhite.net/storage/DecimaMonoDecimaMono/font.woff2') format('woff2'), url('https://mollywhite.net/storage/DecimaMonoDecimaMono/font.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
$main-font: "Roboto", Helvetica, sans-serif; 
$heading-font: "DecimaMonoDecimaMono", "Courier New", monospace;
$regular-font-size: 20px;


/*
  COLOR.

  Make sure to leave color-scheme in config file empty for granular control
*/

$text-color: #333333;
$heading-color: #333333;
$link-color: #02837E;
$highlight: rgba(71, 212, 192, 0.3);

@import "ed";
@import "syntax";

.theme-base-whitespace {
  *:target {
    background-color: $highlight;
  }

  a:hover, a:focus, button:hover, button:focus {
    color: $text-color;
    background-color: $highlight;
    text-decoration: none;
  }
  
  b {
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
  }

  code {
    color: #444444
  }

  ul ul {
    margin-bottom: 0
  }

  .illustration-and-logo {
    display: flex;
    height: 300px;
    align-items: center;
  
    .illustration, .illustration img {
      height: 100%;
    }

    .illustration:hover, .illustration:focus {
      background-color: transparent;
    }
    
    h1, h2 {
      margin: 0;
    } 

    h1 {
      font-size: 3rem;
      font-weight: 100;
      text-transform: lowercase;
    }

    h2 {
      font-size: 1rem;
    }
  
    a.title, a.title:hover {
      color: #444444;
      text-decoration: none;
    }

    .masthead-links {
      font-size: 14px;
      font-family: $heading-font;
      
      a {
        color: #444444;
      }
    }
  }

  .post-date {
    font-family: $main-font;
  }

  .copyright-footer {
    background-color: transparent;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
    height: auto
  }

  #mc_embed_signup_scroll h2 {
    display: none;
  }

  ul#markdown-toc, ul#markdown-toc ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  ul#markdown-toc ul {
    padding-left: 1rem;

    li {
      padding-left: 1em;
      text-indent: -1em;
    }

    li:before {
      content: "»";
      padding-right: 5px;
    }
  }
}

@media (max-width: 675px) {
  .theme-base-whitespace {
    .illustration-and-logo {
      height: auto;
      flex-direction: column;

      .illustration, .illustration img {
        height: 250px;
      }
    } 
  }
}

@media (max-width: 480px) {
  .theme-base-whitespace {
    .masthead {
      margin-bottom: 1rem;
    }
    
    .illustration-and-logo h1 {
      font-size: 2rem;
    }

    .post-info {
      flex-direction: column;
    }
  
    #markdown-toc {
      font-size: 1.2rem;
      font-weight: 300;
      
      li {
        padding: 0.6rem 0;
      }
    }  
  }
}