<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-{{site.color-scheme}}">
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <div class="illustration-and-logo">
            <a href="{{ site.url }}" class="illustration">
              <img src="{{ site.baseurl }}/assets/molly-illustration.webp" alt="An illustration of Molly White, sitting crosslegged typing on a computer. She's wearing a collared white and blue vertical striped short sleeve shirt, jeans, and glasses. There is an abstract background of pink and blue rounded shapes." />
            </a>
            <div>
              <a href="{{ site.url }}" class="title">
                <h1>Whitespace</h1>
              </a>
              <h2>A newsletter by <a href="https://mollywhite.net">Molly White</a></h2>
              <span class="masthead-links"><a href="{{ site.baseurl }}/subscribe/">subscribe</a> &bull; <a href="https://www.patreon.com/mollywhite">support</a> &bull; <a href="https://newsletter.mollywhite.net/feed.xml">rss</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="container content" id="main">
        {{ content }}
      </div>
    </div>

    {% if page.cc %}
    <footer class="copyright-footer">
      {% if page.disclosure%}
      <p>Disclosures for my work and writing pertaining to cryptocurrencies and web3 can be found <a href="https://www.mollywhite.net/crypto-disclosures" target="_blank">here</a>.</p>
      {% endif %}
      Text is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </footer>
    {% endif %}
    <p>For other crypto news that may not have been shown here, check out my other (less-opinionated) site: <b><a style="text-decoration: none;" href="https://web3isgoinggreat.com/"><span style="text-decoration: underline";>Web3IsGoingGreat</span> <span style="text-decoration: underline";>W3IGG</span></a></b></p>

    <script>
      // Highlight search Query
      var url = window.location.href;
        if (url.lastIndexOf("?q=") > 0) {
          // get the index of the parameter, add three (to account for length)
          var stringloc = url.lastIndexOf("?q=") + 3;
          // get the substring (query) and decode
          var searchquery = decodeURIComponent(url.substr(stringloc));
          // regex matches at beginning of line, end of line or word boundary, useful for poetry
          var regex = new RegExp("(?:^|\\b)(" + searchquery + ")(?:$|\\b)", "gim");
          // get, add mark and then set content
          var content = document.getElementById("main").innerHTML;
          document.getElementById("main").innerHTML = content.replace(regex, "<mark>$1</mark>");
        }
  </script>
  <script src="{{site.baseurl}}/assets/js/script.js"></script>
  </body>
</html>
